{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}picture_detail{% endblock %}

{% block content %}
<h3>{{ picture.pic_name }}</h3>

{% if picture.path %}
{#    {% load static %}#}
{#     <p><img src="{%  static 'upload_images/1/cat/0.jpg' %}"/></p>#}
  <p><img src="{{ picture.path.url }}"/></p>
{% endif %}

<p>upload_time: {{ picture.upload_date | date:"Y-m-j" }} </p>
<p><a href="{% url 'picture:pic_list' %}">picture_list</a> |
    <a href="{% url 'picture:pic_upload' %}">upload_picture</a></p>
{% endblock %}

