{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}picture_list{% endblock %}

{% block content %}

    <div class="container">
    <h3>picture</h3>



    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ category }} " and {{ cate_num }} pictures?</p>
        {% for pic in pic_list %}
            {{ pic }}<br>
        {% endfor %}
        <input type="submit" value="Confirm"/>
    </form>

    <div class="container">

    </div>

{% endblock %}

