{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}picture_list{% endblock %}

{% block content %}
    <h3>图片列表</h3>
    <ul>
        {% if picture_list %}

            {% regroup picture_list by category as pictures %}
            <ul>
                {% for category, pic_info in pictures %}
                    <li>{{ category }}
                    <a href="{% url 'picture:pic_delete' category %}">category_delete</a>
                        <ul>
                            {% for pic in pic_info %}
                                <li>{{ pic.upload_date | date:"Y-m-j" }}-----
                                    <a href="{% url 'picture:pic_detail' pic.id %}">{{ pic.pic_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>


        {% else %}
            <li>还没有上传新图片</li>
        {% endif %}
    </ul>
    <p><a href="{% url 'picture:pic_upload' %}">上传新图片</a></p>
{% endblock %}



