body {
    background-color: #eee;

}

.pagination .page-item .page-link {
    font-size: 15px !important;
}

.btn {
    font-size: 12px !important;
}

.mytitle {
    width: 100%;
    background-color: #d9edf7;
    font-size: 38px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 100px
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.imgRotate {
    -webkit-transform: rotate(360deg);
    animation: rotation 10s linear infinite;
    -moz-animation: rotation 10s linear infinite;
    -webkit-animation: rotation 10s linear infinite;
    -o-animation: rotation 10s linear infinite;
}