{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}base{% endblock %}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'MDB-Free_4.7.3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'MDB-Free_4.7.3/css/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'MDB-Free_4.7.3/css/style.css' %}" rel="stylesheet">

    <link href="{% static 'MDB-Free_4.7.3/css/addons/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'MDB-Free_4.7.3/css/addons/datatables-select.min.css' %}" rel="stylesheet">
    <!-- Mine Css -->
    <link href="{% static 'css/global.css' %}" rel="stylesheet"/>

    {% block css %}{% endblock %}
</head>
<body>


<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="{% url 'system:index' %}">Cat Identification</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">Six Steps
                </a>
                <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" style="font-size: 12px"
                       href="{% url 'alogrithm:step' 1 %}">Prepare Data</a>
                    <a class="dropdown-item" style="font-size: 12px" href="{% url 'alogrithm:step' 2 %}">Hog Pic</a>
                    <a class="dropdown-item" style="font-size: 12px" href="{% url 'alogrithm:step' 3 %}">Evaluate
                        Algorithm</a>
                    <a class="dropdown-item" style="font-size: 12px" href="{% url 'alogrithm:step' 4 %}">Adjust SVM</a>
                    <a class="dropdown-item" style="font-size: 12px" href="{% url 'alogrithm:step' 5 %}">Adjust Ensemble
                        Learning</a>
                    <a class="dropdown-item" style="font-size: 12px" href="{% url 'alogrithm:step' 6 %}">Create SVM
                        Model</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'alogrithm:create_svm_model' %}">Create Model
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'alogrithm:train_svm_model' %}">Train Model</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'alogrithm:cat_identification' %}"> Cat Identificate</a>
            </li>
        </ul>

        <ul class=" navbar-nav ml-auto nav-flex-icons">

            {% if user.id %}
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="{% url 'picture:pic_upload' %}">
                        <i class="fas fa-file-upload"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="{% url 'picture:pic_list' %}">
                        <i class="fas fa-images"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="{% url 'alogrithm:model_list' %}">
                        <i class="fas fa-cat"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                         aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="{% url 'user:profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'user:profile_update' %}">Profile Update</a>
                        <a class="dropdown-item" href="{% url 'user:pwd_change' %}">Password Change</a>
                        <a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="{% url 'user:login' %}">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="{% url 'user:register' %}">
                        register
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>


{% block content %}{% endblock %}


{#<footer id="footer" class="container-fluid" style="margin-top: 0px;">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                <ul class="list-unstyled">#}
{#                    Made by Sweeney#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{#<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>#}
<!-- Include all compiled plugins (below), or include individual files as needed -->

<script type="text/javascript" src="{% static 'MDB-Free_4.7.3/js/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'MDB-Free_4.7.3/js/popper.min.js' %}"></script>

<script type="text/javascript" src="{% static 'MDB-Free_4.7.3/js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'MDB-Free_4.7.3/js/mdb.min.js' %}"></script>

<script type="text/javascript" src="{% static 'MDB-Free_4.7.3/js/addons/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MDB-Free_4.7.3/js/addons/datatables-select.min.js' %}"></script>
{% block extra_js %}{% endblock extra_js %}

</body>
</html>