{% extends 'system/base.html' %}
{% load staticfiles %}
{% load my_tags %}

{% block title %}{{ url_info.title }}{% endblock %}
{% block css %}
    <style>


    </style>
{% endblock css %}
{% block content %}

    <div class="container">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="mytitle">
                        <h2>{{ url_info.title }}</h2>
                    </div>
                </div>
                <div class="col-md-6" style="min-height: 600px; margin-top: 5px">
                    {% if result %}
                        <div class="">
                            {% for key, values in result.items %}
                                <ul class="list-group">
                                    <li class="list-group-item  blue lighten-3">{{ key }}</li>
                                    <li class="list-group-item">
                                        {% autoescape on %}
                                            {{ values|safe|linebreaksbr }}
                                        {% endautoescape %}
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    {% else %}

                        <div class="text-center">
                            <img class="img-fluid img-responsive mx-auto align-middle "
                                 src="{{ url_info.pic_url|random_pic }}" style="min-width: 400px">
                        </div>

                    {% endif %}
                </div>
                <div class="col-md-6">

                    {% if form.errors %}
                        <div class="alert alert-warning">{{ form.errors }}</div>
                    {% endif %}

                    {% if message %}
                        <div class="alert alert-primary" role="alert">
                            {{ message }}
                        </div>
                        <hr>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {% for field in form %}

                            {% if field|field_type == 'text' %}

                                <div class="md-form input-group input-group-lg">
                                    {{ field.label_tag }}
                                    {{ field|widget_with_classes:'form-control' }}
                                </div>

                            {% elif  field|field_type == 'checkbox' %}

                                <div class="form-group custom-control custom-checkbox">
                                    <div class="custom-control custom-checkbox">
                                        {{ field|widget_with_classes:'custom-control-input' }}
                                        {{ field|label_with_classes:"custom-control-label" }}
                                    </div>
                                </div>
                            {% elif  field|field_type == 'number' %}
                                <div class="form-group md-form">
                                    {{ field.label_tag }}
                                    {{ field|widget_with_classes:'form-control' }}
                                </div>
                            {% elif field|field_type == 'file' %}
                                <div class="input-default-wrapper mt-5">

                                    <span class="input-group-text mb-3" id="input2">Upload {{ field.label }}</span>

                                    <input type="file" id="file-with-multi-file" class="input-default-js"
                                           name="{{ field.name }}"
                                           data-multiple-target="{target} files selected"
                                           multiple>

                                    <label class="label-for-default-js rounded-right mb-3"
                                           for="file-with-multi-file"><span class="span-choose-file">Choose file</span>

                                        <div class="float-right span-browse">Browse</div>

                                    </label>

                                </div>
                            {% elif field|field_type == 'password' %}
                                <div class="md-form" style="max-width:20rem;">
                                    <input type="password" name={{ field.name }} id="password-custom"
                                           class="form-control">
                                    <label for="password-custom">{{ field.label }}</label>
                                </div>

                            {% else %}
                                {#                                {{ field|field_type }}#}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endif %}

                        {% endfor %}
                        <p>
                            <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                            <button type="submit" class="btn btn-outline-success waves-effect">Submit</button>
                        </p>
                    </form>

                </div>
            </div>
            <div class="col-md-12 footer">
                <p>
                    <a class="btn btn-lg btn-light-blue btn-block"
                       href="{{ url_info.next_url }}">{{ url_info.next_name }}</a>
                </p>
                {% if url_info.next_url_2 %}
                    <p>
                        <a class="btn btn-lg btn-light-blue btn-block"
                           href="{{ url_info.next_url_2 }}">{{ url_info.next_name_2 }}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>

    </script>
{% endblock extra_js %}




