{% extends 'system/base.html' %}
{% load staticfiles %}
{% load my_tags %}

{% block title %}{{ url_info.title }}{% endblock %}
{% block css %}
    <style>

    </style>
{% endblock css %}
{% block content %}

    <div class="container">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="mytitle">
                        <h2>{{ url_info.title }}</h2>
                    </div>
                </div>
                <div class="col-md-6" style="min-height: 600px; margin-top: 5px">
                    {% if result %}
                        <div class="">
                            {% for key, values in result.items %}
                                <ul class="list-group">
                                    <li class="list-group-item  blue lighten-3">{{ key }}</li>
                                    <li class="list-group-item">
                                        {% autoescape on %}
                                            {{ values|safe|linebreaksbr }}
                                        {% endautoescape %}
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    {% elif predictions %}
                        <div class="">
                            <ul class="list-group">
                                <li class="list-group-item  blue lighten-3">
                                    Predictions
                                    <a href="{% url 'alogrithm:download_predict' %}">
                                        <i class="fas fa-file-download"></i>
                                    </a>

                                </li>
                                {% for key, values in predictions.items %}
                                    <li class="list-group-item">
                                        {{ key }}:
                                        {{ values }}
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    {% else %}

                        <div class="text-center">
                            <img class="img-fluid img-responsive mx-auto align-middle "
                                 src="{{ url_info.pic_url|random_pic }}" style="min-width: 400px">
                        </div>

                    {% endif %}
                </div>
                <div class="col-md-6">

                    {% if form.errors %}
                        <div class="alert alert-warning">{{ form.errors }}</div>
                    {% endif %}

                    {% if message %}
                        <div class="alert alert-primary" role="alert">
                            {{ message }}
                        </div>
                        <hr>
                    {% endif %}
                    <form id="post-form" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {% for field in form %}

                            {% if field|field_type == 'text' or field|field_type == 'email' %}

                                <div class="md-form input-group input-group-lg">
                                    {{ field.label_tag }}
                                    {{ field|widget_with_classes:'form-control' }}
                                </div>

                            {% elif  field|field_type == 'checkbox' %}

                                <div class="form-group custom-control custom-checkbox">
                                    <div class="custom-control custom-checkbox">
                                        {{ field|widget_with_classes:'custom-control-input' }}
                                        {{ field|label_with_classes:"custom-control-label" }}
                                    </div>
                                </div>
                            {% elif  field|field_type == 'number' %}
                                <div class="form-group md-form">
                                    {{ field.label_tag }}
                                    {{ field|widget_with_classes:'form-control' }}
                                </div>
                            {% elif field|field_type == 'file' %}
                                <div class="input-default-wrapper mt-5">

                                    <span class="input-group-text mb-3" id="input2">上传 {{ field.label }}</span>

                                    <input type="file" id="file-with-multi-file" class="input-default-js" required
                                           name="{{ field.name }}"
                                           data-multiple-target="{target} files selected"
                                           multiple>

                                    <label class="label-for-default-js rounded-right mb-3"
                                           for="file-with-multi-file"><span class="span-choose-file"><!-- Choose file -->选择文件</span>

                                        <div class="float-right span-browse"><!-- Browse -->浏览</div>

                                    </label>

                                </div>
                            {% elif field|field_type == 'password' %}
                                <div class="md-form" style="max-width:20rem;">
                                    <input type="password" name={{ field.name }} id="password-custom"
                                           class="form-control">
                                    <label for="password-custom">{{ field.label }}</label>
                                </div>

                            {% else %}
                                {#                                {{ field|field_type }}#}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endif %}

                        {% endfor %}
                        <p>
                            <button type="reset" class="btn btn-outline-secondary waves-effect"><!-- reset -->重置
                            </button>
                            <button type="button" onclick="checkform()" class="btn btn-outline-success waves-effect">
                                <!-- submit -->提交
                            </button>
                        </p>
                    </form>

                </div>
            </div>
            <div class="col-md-12 footer" style="padding: 5px">
                <p>
                    <a class="btn btn-lg btn-light-blue btn-block"
                       href="{{ url_info.next_url }}">{{ url_info.next_name }}</a>
                </p>
                {% if url_info.next_url_2 %}
                    <p>
                        <a class="btn btn-lg btn-light-blue btn-block"
                           href="{{ url_info.next_url_2 }}">{{ url_info.next_name_2 }}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="modal fade " id="loader" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog  text-center" role="document">
            <img class="img-fluid rounded-circle hoverable" src="{% static '/img/loading.gif' %}"
                 style="min-width: 200px">
        </div>
    </div>



{% endblock %}

{% block extra_js %}
    <script>

        function checkfile() {
            var maxsize = 10 * 1024 * 1024;//10M
            var errMsg_size = "The attachment files cannot exceed 10M ！！！";
            var errMsg_num = "The num of files cannot exceed 100 ！！！";
            var tipMsg = "Your browser does not support calculating the size of uploaded files. " +
                "Make sure that the uploaded files do not exceed 2M. It is recommended to use IE, FireFox, and Chrome browsers.";
            var browserCfg = {};
            var ua = window.navigator.userAgent;
            if (ua.indexOf("MSIE") >= 1) {
                browserCfg.ie = true;
            } else if (ua.indexOf("Firefox") >= 1) {
                browserCfg.firefox = true;
            } else if (ua.indexOf("Chrome") >= 1) {
                browserCfg.chrome = true;
            }
            try {
                var obj_file = document.getElementById("file-with-multi-file");
                if (obj_file.value == "") {
                    return "Please upload the file firstly.";
                }
                if (obj_file.files.length > 100) {
                    return errMsg_num;
                }

                var filesize = 0;
                if (browserCfg.firefox || browserCfg.chrome) {
                    for (var i = obj_file.files.length - 1; i >= 0; i--) {
                        filesize += obj_file.files[i].size;
                    }
                } else if (browserCfg.ie) {
                    var obj_img = document.getElementById('tempimg');
                    obj_img.dynsrc = obj_file.value;
                    filesize = obj_img.fileSize;
                } else {
                    return tipMsg;
                }
                if (filesize == -1) {
                    return tipMsg;
                } else if (filesize > maxsize) {
                    return errMsg_size + "The size of files you input is " + filesize / 1024 / 1024 + 'M';
                } else {
                    {#alert(filesize);#}
                    return;
                }
            } catch (e) {
                alert(e);
            }
        }

        function checkform() {

            if (document.getElementById('file-with-multi-file') != null) {
                var error = checkfile();
                if (error != null) {
                    alert(error);
                    return;
                }
            }
            $('#loader').modal('show');
            $('#post-form').submit();
        }


    </script>
{% endblock extra_js %}




