{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}{{ url_info.title }}{% endblock %}
{% block css %}
    <style>
        body, html {
            height: 100%;
        }

        .bg {
            background-image: url("/static/img/LXH/bg-1.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock css %}
{% block content %}
    <div class="container">
        <div class="mytitle">
            <h2>{{ url_info.title }}</h2>
        </div>
        <div class="row ">
            <div class="col-md-12 bg">
                <div class="col-md-6" style="min-height: 600px">
{#                    {% if result %}#}
{#                        <div class="" >#}
{#                            {% for key, values in result.items %}#}
{#                                <ul class="list-group">#}
{#                                    <li class="list-group-item active">{{ key }}</li>#}
{#                                    <li class="list-group-item">{{ values }}</li>#}
{#                                </ul>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <span class="align-middle d-flex justify-content-center">#}
{#                            <img class="img-responsive mx-auto text-center" src="{{ url_info.pic_url }}">#}
{#                        </span>#}
{#                    {% endif %}#}
{#                    <hr>#}
                    123
                </div>
                <div class="col-md-6">

                    {% if form.errors %}
                        <div class="alert alert-warning">{{ form.errors }}</div>
                    {% endif %}
                    {% load my_tags %}
                    {% if message %}
                        <div class="bg-info text-white text-center alert">
                            {{ message }}
                        </div>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {% for field in form %}
                            {% if field|field_type == 'text' or field|field_type == 'password' or field|field_type == 'email' %}

                                <div class="md-form input-group input-group-lg">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text md-addon"
                                              id="inputGroupMaterial-sizing-lg">
                                            {{ field.label }}
                                        </span>
                                    </div>
                                    {{ field|widget_with_classes:'form-control' }}
                                </div>
                            {% elif field|field_type == 'file' %}
                                <div class="input-default-wrapper mt-5" style="width: 300px; margin: 20px 0px 20px 0px">

                                    <input type="file" id="file-with-multi-file" name="file" class="input-default-js"
                                           data-multiple-target="{target} files selected"
                                           multiple>

                                    <label class="label-for-default-js rounded-right mb-3"
                                           for="file-with-multi-file"><span
                                            class="span-choose-file">Choose file</span>

                                        <div class="float-right span-browse text-center" style="width: 100px">Browse
                                        </div>

                                    </label>

                                </div>

                            {% else %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endif %}

                        {% endfor %}
                        <p>
                            <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                            <button type="submit" class="btn btn-outline-success waves-effect">Submit</button>
                        </p>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-12 footer">
            <p>
                <a class="btn btn-lg btn-light-blue btn-block"
                   href="{{ url_info.next_url }}">{{ url_info.next_name }}</a>
            </p>
            {% if url_info.next_url_2 %}
                <p>
                    <a class="btn btn-lg btn-light-blue btn-block"
                       href="{{ url_info.next_url_2 }}">{{ url_info.next_name_2 }}</a>
                </p>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}


