{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}index{% endblock %}
{% block css %}
    <style>
        #header div {
            width: 100%;
            height: 100%;
            color: #0269c2;
            /*margin: 50px auto;*/
            line-height: 100px; /*设置line-height与父级元素的height相等*/
            text-align: center; /*设置文本水平居中*/
            overflow: hidden; /*防止内容超出容器或者产生自动换行*/
            margin: 0px;
            background-image: url("/static/img/cat-painting.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-position: center 0;
            background-color: rgba(0, 0, 0, 0.4);

        }

        .container {
            background-color: white;
        }

        .container-fluid {
            text-align: center; /*设置文本水平居中*/
            overflow: hidden; /*防止内容超出容器或者产生自动换行*/
        }

        .img-responsive {
            display: inline-block;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }
    </style>
{% endblock css %}
{% block content %}

    <div class="content-container">


        <div id="header" class="container-fluid">
            <div id="content-in-header">
                <h1>SVM-Based Cat Identification</h1>
                <p class="lead">Create your own model to locate cat</p>
                <a class="btn btn-primary" href="{% url 'alogrithm:prepare_data' %}">Make Your Model</a>
                <a class="btn btn-primary" href="{% url 'alogrithm:train_svm_model' %}">Train model</a>
                <a class="btn btn-primary" href="{% url 'alogrithm:cat_identification' %}">Use model</a>
            </div>
        </div>

        <div id="how-it-works" class="container-fluid content">
            <div class="container">

                <ul class="nav nav-list">
                    <li class="divider"></li>
                    <hr>
                </ul>

                <h1>Make your own model to identificate your cute cat!</h1>
                <p class="lead">You can follow my steps to make you own model with svm to idenetify your cat.</p>
                <ol class="list-unstyled row stylized">
                    <li class="col-md-4 col-sm-6">
                        <h3>Upload photo</h3>
                        <p>Upload two categories, one is your want to identify,
                            the other is you want to discriminate
                            and a test img to find appropriate parameter in dealing img</p>
                        <img class="img-responsive" src="{% static 'img/index-upload.jpg' %}"/>
                    </li>
                    <li class="col-md-4 col-sm-6">
                        <h3>Choose parameter</h3>
                        <p>Follow my steps to locate the parameter fit your model</p><br><br>
                        <img class="img-responsive" src="{% static 'img/index-svm.png' %}"/>
                    </li>
                    <li class="col-md-4 col-sm-6">
                        <h3>Make! Train! Identificating!</h3>
                        <p>Make the model by the parameter you created, and train it again and again.
                            Finally you can use it to idenetificate your cat.</p>
                        <img class="img-responsive" src="{% static 'img/index-T_F.jpg' %}"/>
                    </li>
                </ol>
                <a class="btn btn-primary" role="button" href="{% url 'alogrithm:prepare_data' %}">Try it now</a>
            </div>
        </div>

    </div>


{% endblock %}

