{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}profile{% endblock %}
{% block css %}
    <style>
        .row.display-flex {
            display: flex;
            flex-wrap: wrap;
        }

        .row.display-flex > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container ">

        <div class="row display-flex">
            <div class="mytitle">
                个人信息
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info text-primary h2"><!-- Account -->账号</li>
                    <li class="list-group-item"><strong><!-- Username -->用户名&nbsp;:&nbsp;</strong>{{ user.username }} </li>
                    <li class="list-group-item"><strong><!-- Email -->邮箱&nbsp;:&nbsp;</strong>{{ user.email }} </li>

                </ul>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info text-primary h3">详细信息</li>
                    <li class="list-group-item"><strong><!-- First Name -->姓&nbsp;:&nbsp;</strong> {{ user.first_name }}  </li>
                    <li class="list-group-item"><strong><!-- Last Name -->名字&nbsp;:&nbsp;</strong> {{ user.last_name }} </li>
                    <li class="list-group-item"><strong><!-- Organization -->组织: &nbsp;&nbsp;</strong>{{ user.profile.org }} </li>
                    <li class="list-group-item"><strong><!-- Telephone -->电话: &nbsp;&nbsp;</strong>{{ user.profile.telephone }}
                    </li>
                    <li class="list-group-item"><strong><!-- Last Login -->上次登陆&nbsp;:&nbsp;</strong> {{ user.last_login }}</li>
                    <li class="list-group-item"><strong><!-- Date Joined -->加入日期&nbsp;:&nbsp;</strong> {{ user.date_joined }}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="align-middle text-center" style="margin: 50px">
                    <img class="img-responsive mx-auto" src="{% static '/img/LXH/gif/gif_42.gif' %}" style="min-height: 450px">
                </div>
                <hr>
            </div>
            <div class="col-md-12">
                <div>
                    <p>
                        <a class="btn btn-default btn-lg btn-block mb-2" href="{% url 'user:profile_update' %}">
                            <!-- Profile Update -->信息更改</a>
                    </p>
                    <p>
                        <a class="btn btn-default btn-block" href="{% url 'user:pwd_change' %}"><!-- Change Password -->更改密码</a>
                    </p>
                    <p>
                        <a class="btn btn-warning btn-block " href="{% url 'user:logout' %}"><!-- Logout -->登出</a>
                    </p>
                </div>

            </div>
        </div>
{% endblock %}