{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}registration{% endblock %}

{% block content %}

    <div class="container">
    <h2>Change registration</h2>

    <div class="row">
        <div class="col-md-6">
            {% if form.errors %}
                <div class="alert alert-warning">{{ form.errors }}</div>
            {% endif %}
            {% load my_tags %}
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {% for field in form %}
                    <div class="md-form input-group input-group-lg">
                        <div class="input-group-prepend ">
                                        <span class="input-group-text md-addon"
                                              id="inputGroupMaterial-sizing-lg">
                                            {{ field.label }}
                                        </span>
                        </div>
                        {{ field|widget_with_classes:'form-control' }}
                    </div>
                {% endfor %}
                <p>
                    <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                       
                    <button type="submit" class="btn btn-outline-success waves-effect">Submit</button>
                </p>
            </form>
        </div>
        <div class="col-md-6">
            <img class="img-responsive mx-auto" src="{% static '/img/LXH-1.jpg' %}">

        </div>
        <div class="col-md-12">
            <a class="btn btn-lg btn-light-blue btn-block" href="{% url 'system:index' %}">Index</a>
        </div>
    </div>

{% endblock %}

