{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}adjust_ensemble_learning{% endblock %}

{% block content %}


    <h3>adjust_ensemble_learning</h3>

    {% if error_message %}
        <div class="errors">
            {{ error_message }}
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% for field in ensemble_params_form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
           <input type="submit" value="确定"/>
    </form>


    {% if results %}
        <p>best_score: {{ results.best_score }}</p>
        <p>best_params: {{ results.best_params }}</p>
        {% for mean, std, param in results.cv_results %}
            <p>mean: {{ mean }}; std: {{ std }}; param: {{ param }}</p>
        {% endfor %}
    {% endif %}
    <a href="{% url "alogrithm:create_svm_model" %} ">create_svm_model</a>
{% endblock %}

