{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}cat_identification{% endblock %}

{% block content %}
    <div class="container">
    <h3>cat_identification</h3>


    <div class="row">
        <div class="col-md-6">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}

                <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                   
                <button type="submit" class="btn btn-outline-success waves-effect">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
        <img class="img-responsive mx-auto" src="{% static '/img/LXH-1.jpg' %}">
            {% if result %}
                {{ result }}
            {% endif %}
            <hr>
        </div>
        <div class="col-md-12">
            <a class="btn btn-lg btn-light-blue btn-block" href="{% url 'alogrithm:model_list' %}">model list</a>
        </div>
    </div>
{% endblock %}

