{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}pic_processing{% endblock %}

{% block content %}

<h1>Fourth Step</h1>
<h3>Contrast Algorithm</h3>




<form method="post" enctype="multipart/form-data">{% csrf_token %}

{#    {{ form.pic_size.label_tag }} {{ form.pic_size }}#}
{#    {{ form.test_pic.label_tag }} {{ form.test_pic }}#}

    {% for field in contrast_algorithm_form %}
    <div class="fieldWrapper">
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}

{{ form.as_p }}
{#    {{ form.data['test_pic'].label_tag }} {{ form.data['test_pic'] }}#}
{#    {{ form.data['test_category'].label_tag }} {{ form.data['test_category'] }}#}
    <input type="submit" value="确定" />
</form>


{% endblock %}

