{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}
{% block css %}
    <style>

    </style>
{% endblock css %}
{% block content %}

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="text-center">

                    {% load my_tags %}
                    <div class="mytitle">
                        The {{ step|num_to_English }} Step : {{ title }}
                    </div>

                </div>
                <div class="col-md-6 ">
                    {% if picture %}
                        <div id="picture">
                             <p><img class="img-responsive center-block" src="{{ picture }}"/></p>
                        </div>
                    {% elif results %}
                        <div id="result" class="col-md-8 col-md-offset-2">
                            <p>best_score: {{ results.best_score }}</p>
                            <p>best_params: {{ results.best_params }}</p>
                            {% for mean, std, param in results.cv_results %}
                                <p>mean: {{ mean }}; std: {{ std }}; param: {{ param }}</p>
                            {% endfor %}
                            </p>
                        </div>
                        {% else %}
                        <img class="img-responsive" src="{% static 'img/LXH/7.jpg' %}">
                    {% endif %}
                </div>

                <div class="col-md-6">

                    {% if message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}


                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {% for field in form %}

                            {#                            -{{ field|field_type }}-#}

                            {% if field|field_type == 'text' %}

                                <div class="md-form input-group input-group-lg">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text md-addon"
                                              id="inputGroupMaterial-sizing-lg">
                                            {{ field.label }}
                                        </span>
                                    </div>
                                    {{ field|widget_with_classes:'form-control' }}
                                </div>

                            {% elif  field|field_type == 'checkbox' %}

                                <div class="custom-control custom-checkbox">
                                    {{ field|widget_with_classes:'custom-control-input' }}
                                    <label class="custom-control-label">{{ field.label }}</label>
                                </div>


                            {% elif  field|field_type == 'comment' %}

                                <div class="md-form amber-textarea active-amber-textarea-2">
                                    <i class="fas fa-pencil-alt prefix"></i>
                                    <textarea type="text" name="{{ field|field_type }}" id="id_comment"
                                              class="md-textarea form-control"
                                              rows="2" cols="10"></textarea>
                                    {#                                    {{ field.label_tag }}#}
                                    <label style="font-size: 12px" for="id_comment">Comment</label>
                                </div>

                            {% elif  field|field_type == 'C' %}

                                <div class="md-form amber-textarea active-amber-textarea-2">
                                    <i class="fas fa-pencil-alt prefix"></i>
                                    {{ field|widget_with_classes:'md-textarea form-control' }}
                                    {#                                   {{ field.label_tag }}#}
                                    <label style="font-size: 18px" for="id_C">C</label>
                                </div>

                            {% elif  field|field_type == 'number' %}

                                {{ field.label_tag }}
                                <div class="md-form">
                                    {{ field|widget_with_classes:'form-control' }}
                                </div>
                            {% elif field|field_type == 'file' %}
                                <div class="input-default-wrapper mt-5" style="width: 300px; margin: 20px 0px 20px 0px">

                                    <input type="file" id="file-with-multi-file" name="test_pic"
                                           class="input-default-js"
                                           data-multiple-target="{target} files selected"
                                           multiple>

                                    <label class="label-for-default-js rounded-right mb-3"
                                           for="file-with-multi-file"><span
                                            class="span-choose-file">Choose file</span>

                                        <div class="float-right span-browse text-center" style="width: 100px">Browse
                                        </div>

                                    </label>

                                </div>

                            {% else %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endif %}



                        {% endfor %}
                        <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                        <button type="submit" class="btn btn-outline-success waves-effect">Submit</button>
                    </form>
                </div>


            </div>

        </div>

        <div id="result" class="col-md-10 col-md-offset-2">
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous {% if step == 1 %} disabled {% endif %}"><a
                            href="{% url 'alogrithm:step'  step|add:-1 %}"><span
                            aria-hidden="true">&larr;</span>Previous Step</a></li>
                    <li class="next {% if step == 6 %} disabled {% endif %}"><a
                            href="{% url 'alogrithm:step'  step|add:1 %}">Next Step
                        <span aria-hidden="true">&rarr;</span></a>
                    </li>
                </ul>
            </nav>
        </div>


        {#        <nav class="text-center" aria-label="Page navigation">#}
        {#            <ul class="pagination ">#}
        {##}
        {#                <li>#}
        {#                    <a href="{% url 'alogrithm:step'  step|add:-1 %}" aria-label="Previous">#}
        {#                        <span aria-hidden="true">&laquo;</span>#}
        {#                    </a>#}
        {#                </li>#}
        {#                <li><a href="{% url 'alogrithm:step' 1 %}">prepare_data</a></li>#}
        {#                <li><a href="{% url 'alogrithm:step' 2 %}">hog_pic</a></li>#}
        {#                <li><a href="{% url 'alogrithm:step' 3 %}">eval_alg</a></li>#}
        {#                <li><a href="{% url 'alogrithm:step' 4 %}">adjust_svm</a></li>#}
        {#                <li><a href="{% url 'alogrithm:step' 5 %}">adjust_ensemble_learning</a></li>#}
        {#                <li><a href="{% url 'alogrithm:step' 6 %}">create_svm_model</a></li>#}
        {#                <li>#}
        {#                    <a href="{% url 'alogrithm:step'  step|add:1 %}" aria-label="Next">#}
        {#                        <span aria-hidden="true">&raquo;</span>#}
        {#                    </a>#}
        {#                </li>#}
        {##}
        {#            </ul>#}
        {#        </nav>#}
    </div>



{% endblock %}

