{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}{{ url_info.title }}{% endblock %}
{% block css %}
    <style>

    </style>
{% endblock css %}
{% block content %}

    <div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                {% load my_tags %}
                <div class="mytitle">
                    The {{ url_info.step|num_to_English }} Step : {{ url_info.title }}
                </div>

            </div>
            <div class="col-md-6 ">
                {% if picture %}
                    <div id="picture">
                         <p><img class="img-fluid img-responsive center-block" src="{{ picture }}"/></p>
                    </div>
                {% elif results %}

                    <div class="list-group">
                        <p class="list-group-item list-group-item-action list-group-item-primary text-center ">Main
                            Info</p>
                        <p class="list-group-item list-group-item-action">best_score: {{ results.best_score }}</p>
                        <p class="list-group-item list-group-item-action">best_params: {{ results.best_params }}</p>
                    </div>

                    <div class="list-group">
                        <a class="btn btn-info" data-toggle="collapse" href="#otherInfo" aria-expanded="false"
                           aria-controls="otherInfo">
                            Detail
                        </a>
                        <div class="collapse" id="otherInfo">
                            <div class="mt-3">
                                {% for mean, std, param in results.cv_results %}
                                    <p class="list-group-item list-group-item-action">
                                        mean: {{ mean }}; <br>std: {{ std }}; <br>param: {{ param }}
                                    </p>

                                {% endfor %}
                            </div>
                        </div>
                    </div>


                {% else %}
                    <div class="align-content-center">
                        <img class="img-responsive " src="{% static 'img/LXH/jpg/7.jpg' %}">
                    </div>
                {% endif %}
            </div>

            <div class="col-md-6 col-md-offset-6">

                {% if form.errors %}
                    <div class="alert alert-warning">{{ form.errors }}</div>
                {% elif message %}
                    <div class="alert alert-warning">{{ message|safe }}</div>
                {% endif %}


                <form id="post-form" method="post" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form %}

                        {#                            -{{ field|field_type }}-#}

                        {% if field|field_type == 'text' %}

                            <div class="md-form input-group input-group-lg">
                                {{ field.label_tag }}
                                {{ field|widget_with_classes:'form-control' }}
                            </div>

                        {% elif  field|field_type == 'checkbox' %}

                            <div class="form-group custom-control custom-checkbox">
                                <div class="custom-control custom-checkbox">
                                    {{ field|widget_with_classes:'custom-control-input' }}
                                    {{ field|label_with_classes:"custom-control-label" }}
                                </div>
                            </div>


                        {% elif  field|field_type == 'comment' %}

                            <div class="md-form amber-textarea active-amber-textarea-2">
                                <i class="fas fa-pencil-alt prefix"></i>
                                <textarea type="text" name="{{ field|field_type }}" id="id_comment"
                                          class="md-textarea form-control"
                                          rows="1" cols="10"></textarea>
                                {#                                    {{ field.label_tag }}#}
                                <label style="font-size: 12px" for="id_comment">Comment</label>
                            </div>

                        {% elif  field|field_type == 'C' %}

                            <div class="md-form amber-textarea active-amber-textarea-2">
                                <i class="fas fa-pencil-alt prefix"></i>
                                {{ field|widget_with_classes:'md-textarea form-control' }}
                                {{ field.label_tag }}
                            </div>

                        {% elif  field|field_type == 'number' %}
                            <div class="form-group md-form">
                                <label>
                                    <a data-toggle="tooltip"
                                       data-placement="left" title="{{ field.help_text }}">
                                        {{ field.label }}
                                    </a>
                                </label>
                                {#                                {{ field.label_tag }}#}
                                {{ field|widget_with_classes:'form-control' }}
                            </div>
                        {% elif field|field_type == 'file' %}
                            <div class="input-default-wrapper mt-5" style="width: 300px; margin: 20px 0px 20px 0px">

                                <div class="input-default-wrapper mt-3">

                                    <span class="input-group-text mb-3" id="input1">Upload {{ field.label }}</span>

                                    <input type="file" id="file-with-current" name="test_pic"
                                           class="input-default-js" required>

                                    <label class="label-for-default-js rounded-right mb-3"
                                           for="file-with-current"><span class="span-choose-file">Choose file</span>

                                        <div class="float-right span-browse">Browse</div>

                                    </label>

                                </div>
                            </div>

                        {% else %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endif %}



                    {% endfor %}
                    <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                    <button type="submit" class="btn btn-outline-success waves-effect">Submit</button>
                </form>
            </div>


        </div>

        <div class="row justify-content-center" style="margin-top: 5%">
            <nav>
                <ul class="pagination pg-teal">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous"
                           href="{% url 'alogrithm:step'  url_info.step|add:-1 %}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li id="pag1" class="page-item"><a class="page-link" href="{% url 'alogrithm:step' 1 %}">1</a></li>
                    <li id="pag2" class="page-item"><a class="page-link" href="{% url 'alogrithm:step' 2 %}">2</a></li>
                    <li id="pag3" class="page-item"><a class="page-link" href="{% url 'alogrithm:step' 3 %}">3</a></li>
                    <li id="pag4" class="page-item"><a class="page-link" href="{% url 'alogrithm:step' 4 %}">4</a></li>
                    <li id="pag5" class="page-item"><a class="page-link" href="{% url 'alogrithm:step' 5 %}">5</a></li>
                    <li id="pag6" class="page-item"><a class="page-link" href="{% url 'alogrithm:step' 6 %}">6</a></li>
                    <li id="pagN" class="page-item">
                        <a class="page-link" aria-label="Next" href="{% url 'alogrithm:step'  url_info.step|add:1 %}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

    <div class="modal fade " id="loader" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog  text-center" role="document">
            <img class="img-fluid rounded-circle hoverable" src="{% static '/img/loading.gif' %}"
                 style="min-width: 200px">
        </div>
    </div>


{% endblock %}
{% block extra_js %}
    <script type="text/javascript">

        document.getElementById("pag{{ url_info.step }}").className += " active";
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $("#post-form").on('submit', function () {
            var form = $(this).closest("form");

            $('#loader').modal('show');

            $.ajax({
                url: form.attr("data-validate-username-url"),
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {

                }
            });

        });
    </script>

{% endblock extra_js %}
