{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}model_list{% endblock title %}

{% block content %}
    <div class="container">
        <h3>model_list</h3>

        {% if model_list %}
            {% for model in model_list %}
                <ul>
                    <li>model_name:<a href="{% url 'alogrithm:model_detail' model.id %}">
                        {{ model.model_name }}</a></li>
                    <li>train_num: {{ model.train_num }}</li>
                    <li>create_time: {{ model.create_time }}</li>
                    <li>update_time: {{ model.update_time }}</li>
                    <li>recently_accuracy_score: {{ model.recently_accuracy_score }}</li>

                    <button type="button" class="btn btn-primary"
                            data-href="{% url 'alogrithm:model_delete' model.id %}" data-toggle="modal"
                            data-target="#modalConfirmDelete">delete
                    </button>

                </ul>
            {% endfor %}
        {% else %}
            No model!
            <a href="{% url 'alogrithm:create_svm_model' %}">create_model</a>
        {% endif %}
        <a href="{% url 'alogrithm:train_svm_model' %}">train model</a>

    </div>


    <!--Modal: modalConfirmDelete-->
    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Are you sure to delete?</p>
                </div>
                <!--Body-->
                <div class="modal-body">

                    <i class="fas fa-times fa-4x animated rotateIn"></i>
                </div>
                <div class="debug-url"></div>
                <!--Footer-->
                <div class="modal-footer flex-center">
                    <a href="" class="btn  btn-outline-danger btn-ok">Yes</a>
                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        $('#modalConfirmDelete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            {#$('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');#}
        });

    </script>
{% endblock extra_js %}
