{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}train_svm_model{% endblock %}

{% block content %}
    <div class="container">
        <h3>train_svm_model</h3>


        <div class="row">
            <div class="col-md-6">
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}

                    <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>   
                    <button type="submit" class="btn btn-outline-success waves-effect">Submit</button>
                </form>
            </div>
            <div class="col-md-6">
                <img class="img-responsive mx-auto" src="{% static '/img/LXH-1.jpg' %}">

                {{ accuracy_score }}<br>
                <hr>
                {{ confusion_matrix|linebreaks }}<br>
                <hr>
                {{ classification_report|linebreaks }}<br>
                <hr>
            </div>
        <div class="col-md-12">
            <a class="btn btn-lg btn-light-blue btn-block" href="{% url 'alogrithm:cat_identification' %}">cat_identification</a>
        </div>
    </div>
{% endblock %}

