{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}train_svm_model{% endblock %}

{% block content %}

    <h3>train_svm_model</h3>

    {% if error_message %}
        <div class="errors">
            {{ error_message }}
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
           <input type="submit" value="confirm"/>
    </form>



        {{ accuracy_score }}<br>
        <hr>
        {{ confusion_matrix|linebreaks }}<br>
        <hr>
        {{ classification_report|linebreaks }}<br>
        <hr>


    <a href="{% url 'alogrithm:cat_identification' %}">cat_identification</a>
{% endblock %}

