{% extends 'system/base.html' %}
{% load staticfiles %}

{% block title %}train_svm_model{% endblock %}

{% block content %}

<h3>train_svm_model</h3>

<form method="post" enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
    {% for field in train_log_form %}
    <div class="fieldWrapper">
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <input type="submit" value="确定" />
</form>


{% if result %}
    {{ result.accuracy_score }}<br><hr>
    {{ result.confusion_matrix }}<br><hr>
    {{ result.classification_report }}<br><hr>
{% endif %}

{% endblock %}

